body{
}

h1{
grid-column: span 6;
background-image: linear-gradient(#1072b9, #0b3b87);
  padding:15px;
  margin: 0px;
  color:lightskyblue;
  font-family:Helvetica;
  font-weight: normal;
  border-bottom:3px solid navy;
}
.title li {

}


nav ul {
  grid-column: span 6;
  list-style-type: none;
  margin:0;
  padding: 0;
}

nav li {
padding: 0px;
width: 100px;
background-image: linear-gradient(#1072b9, #0b3b87);
font-weight:bold;
display:inline-block;
}     
nav li a {
  color:lightskyblue;
  display:block;
  padding: 10px;
  text-decoration:none;
  text-align:center;
}      
nav li a:hover {
  color:white;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  background-color: #ffffff;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  border:3px solid navy;
}


h2{
  font-family:Helvetica;
  font-weight: normal;
  color:navy;
    border-bottom: 3px solid navy;
  margin-top: 0px;
  margin-top:10px;
grid-column: span 5;
}

aside{
  grid-column: span 2;
  background-color:#93d1dd;
  color:black;
  font-weight: bold;
  font-family:georgia;
  padding: 20px;
  }
  
  
  aside #text {
    font-family:georgia;
    text-align: justify;
    margin:10px;
    
  }

nav {
  grid-column: span 6;

}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 237px;
}

nav li a {
  display: block;
  background-color: #1072b9;
  border-color:navy;
  color: lightskyblue;
  text-decoration: none;
  border-bottom:3px solid navy;
}


main {
  grid-column: span 4;
  background-color:white;
  margin:20px;
  font-family:georgia;
}

main img {
  max-width: 100px;
  border:3px solid navy;
  margin-right: 15px;
  margin-bottom: 20px;
}


main a {
  color: red;
  text-decoration: none;
  font-weight:bold;
}

main a:hover {
    color: blue;
    text-decoration: underline;
}

footer {
  background-color: red;
  grid-column: span 6;
  font-weight:bold;
  color:black;
  border-top:3px solid navy;
  padding-right: 20px;
  padding-left:20px;
}


#Evelyn {
  grid-column: span 2;
}

#Waymond {
  grid-column: span 2;
}

#joy {
  grid-column: span 2;
}
