body {
  background-color: #ffffff;
}

html{
  scroll-behavior:smooth;
}

.header{
  grid-column: span 12;
    background-color: none;
    padding:15px;
    margin-top: 0px;
    color:black;
    font-family:Helvetica;
    font-weight: bold;

  }
  main {
    grid-column: span 12;
    background-color:white;
    margin-right:15px;
    font-family:georgia;
  }
  
  main img {
    float:left;
    max-width: 200px;
    border:3px solid rgb(209, 209, 209);
    padding:3px;
    margin-right: 75px;
    margin-bottom: 45px;
    border-radius: 50%;
    transition:all 0.5s;
  }

  main img:hover {
    transform:rotateY(180deg);

  }
 
  main #text {
    margin-left: 10px;
  }

  #navbar {
    grid-column: span 12;
    border-top:1px solid rgb(170, 169, 169);
    padding: 0px;
    margin: 0px;
    background-color:white;
    text-align:center;
    }
  
  #navbar a {
    display: inline-block;
    color: rgb(170, 169, 169);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 10px;
    
  }
  
  #navbar a:hover {
    border-top:0.2px solid black;
    text-align:center;
  }

  
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;

}

.sticky + main{
  padding-top: 60px;
}


#wrapper {
  margin: 24px auto;
  width: 960px;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

#Designs{
  grid-column: span 12;
}

----
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #Photos {
            display: grid;
            grid-column: span 4;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            padding: 20px;
        }

        img {
            width: 400px;
            height: auto;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }

        img:hover {
            transform: scale(1.1);
        }
----- 

div.desc {
  padding: 15px;
  text-align: center;
}

#Video{
  grid-column: span 12;
}

#Designs{
  grid-column: span 12;
}
#Contact{
  grid-column: span 12;
}
footer {
  background-color: none;
  grid-column: span 12;
  font-weight:bold;
  color:black;
  border-top:1px solid rgb(209, 209, 209);
  padding-top: 10px;
  padding-right: 20px;
  padding-left:20px;
  margin-top: 50px;
}
